@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
}

* ::selection {
    background-color: chocolate;
    color: black;
}
/********************************MENU******************************************/

.body{
    background-color: rgb(230, 247, 171);
}

.logo {
    align-content: center;
    max-width: 5rem;
}

.navbar {
    background-image: url(../img/fondoclaro.jpg);
    font-size: 20px;
 
}

.navbar-nav :hover {
    background: rgb(255, 117, 4);
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 5, 5);
    
}


/**************************************Arranca la historia del pueblo********************************/

.parrafo2 {
    font-size: larger;
    width: 90%;
    margin: 20px;
    text-align: justify;
    align-items: center;
}

.titulo2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    color: brown;
    margin-top: 30px;
    padding-right: 10px;
    background-position: bottom;
    justify-content: end;
}

.titulo3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    color: rgb(252, 80, 12);
    margin-top: 50px;
    padding: 1rem;
}

.titulo3::first-letter {
    color:rgb(83, 29, 0)
}

/**********************************************FOOTER******************************************/
.footer {

    font-size: larger;
    background-image: url(../img/fondoclaro.jpg);
    width: 100%;
    color: rgb(2, 2, 2);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

/***********************************NUESTRA HISTORIA***********************************************/

.tituloPeyrano {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: 50px;
}

.parrafoHistoria {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px 50px 50px 50px;

}

@media screen and (max-width: 480px) {
    .fotoPlano {
        width: 400px;
        margin: 10px;
    }
}


.parrafoHistoria2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px 50px 50px 50px;
    display: flex;
}

.logos {
    width: 50px;
}


/*****************************************TRAMITES*******************************************/

.tramite {
    flex: 4;
    background-color: rgb(173, 248, 124);
    padding: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.todosLosTramites{
    padding: 2rem;
    display: flex;
    gap: 1rem;
 }   

.tramite :hover {
    transform: scale(1.1);
    background-color: rgb(146, 241, 241);
}



/**********************************COMO LLEGAR****************************************/
.mapa{
   margin: 2rem;
}

/**********************************LUGARES DESTACADOS**********************************/

.columna:hover {
    background-color: rgb(97, 226, 11);
    padding: 20px;
}

.section {
    padding: 2rem;
    display: flex;
}

/***********************************CONTACTO*******************************************/

.botonWhatsapp {
    display: flex;
    justify-content: end;
    height: 10rem;
    cursor: pointer;

}
