@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
}

/********************************MENU*****************************/

.body{
    background-color: rgb(230, 247, 171);
    

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-image: url(../img/fondonegr.png);

}

.logo {
    align-content: center;
    max-width: 15rem;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    position: : fixed;
}

.menu li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    background: rgb(12, 12, 12); 
    border: 5px solid white;
    text-decoration: none;
    padding: 1rem;
    
}

.menu li :hover {
    background: rgb(253, 253, 253);
    color: brown;
}


/***********************Arranca la historia del pueblo***********************/

.parrafo2 {
    font-size: larger;
    width: 90%;
    margin: 40px;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    
.titulo2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: 30px;
    padding-right: 10px;
    background-position: bottom center;
    justify-content: end;
}

.titulo3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: 50px;
    padding: 1rem;
}
/*
.titulo4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: 50px;
}

*/
/****************************footer*********************************/
.footer {

    font-size: larger;
    background-image: url(../img/fondonegr.png);
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

/***********************************NUESTRA HISTORIA***********************************************/

.tituloPeyrano {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    margin-top: 50px;
}

.parrafoHistoria {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px 50px 50px 50px;

}

.fotoPlano {
    width: 700px;
    margin: 20px;
    image-orientation: from-image;
  
}

.parrafoHistoria2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin: 10px 50px 50px 50px;
    display: flex;
}

.logos {
    width: 50px;

}



/***********************************TRAMITES*******************************************/
.tramite {
    flex: 4;
    background-color: rgb(173, 248, 124);
    padding: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.todosLosTramites{
    padding: 2rem;
    display: flex;
    gap: 1rem;
}


/**********************************LUGARES DESTACADOS**********************************/

.col:hover {
    background-color: rgb(97, 226, 11);
    padding: 20px;
}

.section {
    padding: 2rem;
    display: flex;
}



/***********************************CONTACTO*******************************************/

.redes {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 70px;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.formulario {
    color: brown;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin-bottom: 50px;
}

.cuadrado {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
}

.enviar {
    background-color: black;
    border-radius: 5px ;
    color: blanchedalmond;
    font-size: 15px;
}

.bi:hover {
    background-color: rgb(97, 226, 11);
    padding: 20px;
}