.footer {
    font-size: larger;
    background-image: url(../img/fondoclaro.jpg);
    width: 100%;
    color: rgb(2, 2, 2);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
