
@media screen and (max-width: 480px) {
    .fotoPlano {
        width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .botones {
        min-width: fit-content;
        margin-right: 2px;
        margin-left: 2px;
        padding: 10px;
    }
    
}
