.navbar {
    background-image: url(../img/fondoclaro.jpg);
    font-size: 20px;
    
}

.navbar-nav :hover {
    background: rgb(253, 178, 16);
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(243, 102, 9);
    
}