.navbar {
    background-image: url(../img/fondoclaro.jpg);
    font-size: 20px;
}

.navbar-nav :hover {
    background: rgb(255, 117, 4);
    color: rgb(0, 0, 0); 
    border: 2px solid rgb(255, 5, 5);
    
}