#btn-mas {
    display: none;
}
.redesSociales {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.redes a, .icon-mas2 {
    display: block;
    text-decoration: none;
    background: red;
    color: beige;
    width: 55px;
    height: 55px;
    
}