.titulo3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
    color: rgb(252, 80, 12);
    margin-top: 50px;
    padding: 1rem;

    &::first-letter {
        color:rgb(83, 29, 0);
    }
}
        
.parrafo2 {
    font-size: larger;
    width: 90%;
    margin: 20px;
    text-align: justify;
    align-items: center;
    }